<!-- <div class="cardouterDiv"><div class="cardinnerDiv">
    <div></div>
    <div></div>
</div></div> -->
<ion-item-divider>
    <ion-label>
      Work Experience
    </ion-label>
</ion-item-divider>

<ul class="clr-timeline clr-timeline-vertical">
    <li class="clr-timeline-step disabled">
      <div class="clr-timeline-step-header">Present</div>
      <!-- <cds-icon shape="circle" aria-label="Not started"></cds-icon> -->
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Trivandrum</span>
        <span class="clr-timeline-step-description">July 2018</span>
        <div class="cardouterDiv">
          <p class="compName">BenfitAlign Technologies
          </p>
          <div class="cardinnerDiv">
            <div></div>
          </div>
        </div>   
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">July 2018</div>
      <!-- <cds-icon shape="dot-circle" aria-current="true" aria-label="Current"></cds-icon> -->
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Chennai</span>
        <span class="clr-timeline-step-description">
          May 2017
        </span>
        <div class="cardouterDiv">
          <p class="compName">Virtusa Polaris
          </p>
          <div class="cardinnerDiv">
            <div></div>
          </div>
        </div>          
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">2017 May</div>
      <!-- <cds-icon shape="success-standard" aria-label="Completed"></cds-icon> -->
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title">Chennai</span>
        <span class="clr-timeline-step-description">July 2014
          
        </span>
        <div class="cardouterDiv">
          <p class="compName">Wipro Technologies
          </p>
          <div class="cardinnerDiv">
          <div></div>
        </div></div>
      </div>
    </li>
    <li class="clr-timeline-step">
      <div class="clr-timeline-step-header">2014 July</div>
      <!-- <cds-icon shape="error-standard" aria-label="Error"></cds-icon> -->
      <div class="clr-timeline-step-body">
        <span class="clr-timeline-step-title"></span>
        <span class="clr-timeline-step-description"></span>
        <div class="nextButton">
          <button class="btn btn-primary btn-block">Next</button>
        </div>    
      </div>
    </li>
  </ul>
 <!--  <ion-grid>
  <ion-row>
    <ion-col size="12" size-sm>
        <ion-card>
            <ion-card-header>
              <ion-card-subtitle>BenfitAlign Technologies</ion-card-subtitle>
              <ion-card-title>Senior Software Engineer</ion-card-title>
            </ion-card-header>
          
            <ion-card-content>
              Subsidiary of Speridian Technologies.  
              Keep close to Nature's heart... and break clear away, once in awhile,
              and climb a mountain or spend a week in the woods. Wash your spirit clean.
            </ion-card-content>
          </ion-card>
    </ion-col>
    <ion-col size="12" size-sm>
        <ion-card>
            <img src="./madison.jpg" />
            <ion-card-header>
              <ion-card-subtitle>Destination</ion-card-subtitle>
              <ion-card-title>Madison, WI</ion-card-title>
            </ion-card-header>
            <ion-card-content>
              Founded in 1829 on an isthmus between Lake Monona and Lake Mendota, Madison was named the capital of the Wisconsin Territory in 1836.
            </ion-card-content>
          </ion-card>
    </ion-col>
  </ion-row>
</ion-grid> -->

<!-- <div class="clr-row">
  <div class="clr-col-lg-12 clr-col-md-12 clr-col-12">  
    <div class="card">
      <div class="card-header">
          Virtusa Polaris
      </div>
      <div class="card-block">
        <div class="card-title">
          Associate Consultant Siebel CRM 
        </div>
        <div class="card-text">
          ...
        </div>
      </div>
      <div class="card-footer">
        <button class="btn btn-sm btn-link">Footer Action 1</button>
        <button class="btn btn-sm btn-link">Footer Action 2</button>
      </div>
    </div>
</div>
</div>   -->