.cardouterDiv{
    height: 25vh;
    flex: 10 4 auto;
    display: flex;
    flex-direction: column;
    background: rgb(255 255 255);
    border-radius: 2px;
    margin-top: 5px;
    width: 50vw;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);

}

.cardinnerDiv{
    margin: 0px 6px 6px 6px;
    background: #fafafa;
    flex: 1 0 auto;
    opacity: 0.9;
    border-radius: 2px;
    display: flex;
    flex-direction: row;
    border: solid 1px lightgray;
}
.compName {
    margin: 10px 10px 10px 10px;
    font-size: large;
    font-family: system-ui;
}
.nextButton{
    width: 50vw;
}
@media screen and (max-width: 768px){
    .cardouterDiv {
        width: 60vw;
    }
    .nextButton{
        width: 60vw;
    }
    .pfSummary {
        max-width: 100vw;
    }
}
.pfSummary {
    display: flex;
    background: #fafafa;
    min-width: 270px;
    flex-direction: column;
    max-width: 20%;
    overflow: auto;
    padding-left: 5px;
    box-shadow: 0 3px 1px -2px rgb(0 0 0 / 20%), 0 2px 2px 0 rgb(0 0 0 / 14%), 0 1px 5px 0 rgb(0 0 0 / 12%);
}
