<div class="summaryName">
    RAHUL P. RAJ
</div>

<!-- <div class="summaryPic" >
</div> -->
<div>
    <div class="summaryLabel">
        <clr-icon shape="user"></clr-icon> ABOUT
    </div>
    <div class="summaryContent" style="line-height: 20px;">
        Diverse requirements are handled and ensure that they always meet above the customer expectations.
        <br/>
        Takes parts in business Requirement Analysis, Logic design, Technical implementation of it in the best and efficient
        manner along with unit testing of the deployments.
        <br/>
        Always keen to learn new technologies and push the gathered knowledge towards implementation.
       <!--  <br/>
        Academic projects have strengthened knowledge in embedded system development and boosted depth skills in Matlab. -->
        
    </div> 
</div>

<div>   
<div class="summaryLabel">
    <clr-icon shape="mobile"></clr-icon>CONTACT
</div>
<div class="summaryContent">
    Pandaraparampil H
    <br/>
    Polytechnic Road, Kanattupara
    <br/>
    Pala PO, Kottayam, Kerala, India
    <br/>
    <span style="font-weight: bold;font-size: .7rem;"><clr-icon shape="phone-handset" style="height: 20px;width: 20px;"></clr-icon>+91 8939148428</span>
    <br/>
    <span style="font-weight: bold;font-size: .7rem;"><clr-icon shape="envelope" style="height: 20px;width: 20px;"></clr-icon> rahulpraj10@gmail.com
    </span>
    
</div>
</div>
