/* You can add global styles to this file, and also import other style files */
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Calibri,system-ui,Tahoma,Roboto, "Helvetica Neue", sans-serif; }
/* Track */
::-webkit-scrollbar-track {
  background: #9E9E9E;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #ededed;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}
div *::-webkit-scrollbar {
  width: 3px !important;
}

textarea:focus, input:focus{
  outline: none;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
